html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  line-height: 1.2;
}

p {
  display: block;
  color: #fff;
}

a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* Navbar  */
#navbar {
  padding: 20px 32px;
}

.navbar-brand {
  font-size: 22px;
  margin-left: 10px;
  color: #008489; 
}
.navbar-brand:hover {
  color: #fff;
}

.navbar-nav a {
  font-size: 20px;
  line-height: 1.375;
}

.site-name .nav-item a {
  text-decoration: none;
  background-color: transparent;
}

.nav-item a:hover {
  color: #008489;
}

.site-name, a:hover {
  color: #222;
}

.navbar-expand-xl .navbar-nav .nav-link {
  padding: 20px;
  color: #fff;
}
.navbar-expand-xl .navbar-nav .nav-link:hover {
  color: #008489;
}


.navbar-light .navbar-nav .nav-link {
  color: #000;
}

/* Splash */
.splash-page {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(87, 87, 76));
  background-image: url("../images/bg-masthead.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-splash {
  margin-left: 5%;
}

.splash h1 {
  font-size: 3.5rem;
  margin-top: 25%;
  color: #fff;
}

.splash p {
  font-size: 2rem;
}

.splash-greeting, .navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

.greeting-img {
  width: 80%;
  opacity: 0.9;
  padding: 20px;
}

.btn-info {
  background: #008489;
}

.btn-info:hover {
  background: rgb(37, 44, 104);
}

/* About Me */
.about-me {
  background: #008489;
  padding: 8rem 0;
  text-align: center;
  width: 100%;
  background-image: url("../images/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.this-guy {
  margin-top: -5px;
  width: 15%;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.guy {
  font-family: 'Permanent Marker', cursive;
}

.about-p {
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
}

.justify-content-center {
  padding-top: 5%;
}

/* Portfolio Section */
.portfolio {
  position: relative;
  padding: 5%;
  background: #fff;
  color: #000;
  background-image: url("../images/port-bg.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-gap-bottom-90 {
  padding-bottom: 1%;
}

.section-gap-top {
  padding-top: 5%;
}

.port-words {
  padding-bottom: 20px;
}

.mb-80 {
  margin-bottom: 80px;
}

.portfolio-me .section-title {
  margin-bottom: 0;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 70px;
  text-transform: capitalize;
  position: relative;
  line-height: 44px;
  font-family: 'Permanent Marker', cursive;
}

.section-title h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 7px;
}

.section-title h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -31px;
  width: 100px;
  height: 2px;
  background: #fff;
}

.section-title p {
  max-width: 535px;
  margin-top: -20px;
  margin-bottom: 0;
  color: #000;
  font-family: 'Comic Neue', cursive;
}

/* Images */
.portfolio-me .filters-content img {
  border-radius: 10px;
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, .5);
}

.card h5 {
  font-size: 21px;
  color: #fff;
}

.card p {
  font-size: 15px;
  color: #fff;
}

.portfolio::before {
  right: 50%;
  transform: skew(0, 20deg);
}

.portfolio::after {
  left: 50%;
  transform: skew(0, -20deg);
}

/*-------------------------------------------
# Call to Action Section
--------------------------------------------*/
.call-to-action {
  padding: 8rem 0;
  -webkit-clip-path: polygon(100% 0, 100% 61%, 53% 79%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 61%, 53% 79%, 0 100%, 0 0);
  background-color: #46344e;
  color: #fff;
  margin-bottom: -10vw;
}

/*-------------------------------------------
/# Call to Action Section
--------------------------------------------*/
/*-------------------------------------------
# Contact Section
--------------------------------------------*/
.contact-section {
  background: linear-gradient(to bottom, rgba(70, 52, 78, 0.5) 0, rgba(70, 52, 78, 0.5) 100%), url("../img/contact_me_bg.jpg");
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-hr {
  max-width: 9rem;
  border-width: .2rem;
  border-color: #ffc107;
}

.contact-section fas {
  color: #fff;
}

.contact-section a {
  color: #ffc107;
}

.contact-section, h1, p {
  color: #fff;
}

/*-------------------------------------------
/# Contact Section
--------------------------------------------*/
/*-------------------------------------------
# Footer Section
--------------------------------------------*/
footer {
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
}

/*-------------------------------------------
/# Footer Section
--------------------------------------------*/

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {

  .splash h1 {
    font-size: 2.3rem;
    margin-top: 15%;
  }
    
  .splash p {
    font-size: 1.5rem;
  }

  .about-me {
    margin-top: -50%;
  }

  .this-guy {
    margin-top: -20%;
  }
} 